<h3>Dear {{ name }},</h3>
<p>Your order summary</p>
<p>{{ payerName }} paid  <strong>{{ amountPaid }}€</strong>. There are still <strong>{{ remainingAmount }}€</strong> euros to pay on the order.</p>
<p>Thank you for choosing our service.</p>
<p>Best regards,</p>
<p>The Team</p>