<h3>Dear {{ name }},</h3>
<h5>Your order summary</h5>
<p>{{ payerName }} paid  <strong>{{ amountPaid }}€</strong>. There are still <strong>{{ remainingAmount }}€</strong> euros to pay on the order. .</p>
<p>Thank you for choosing our service.</p>
<p>Best regards,</p>
<p>The Team</p>